File:*
Wikipedia:*
Special:*
Help:*
# not sure if this is the right thing to do..
Talk:*
Template_talk:*
en:*
User:*
# I downloaded them too many times:
*.1
*.2
*.3

# non fish things:
*_(Company)
*_(surveillance)
