<h1>Editing wiki animal</h1>

<%= render "form", wiki_animal: @wiki_animal %>

<br>

<div>
  <%= link_to "Show this wiki animal", @wiki_animal %> |
  <%= link_to "Back to wiki animals", wiki_animals_path %>
</div>
